.place__title{
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  width: 30vw;
}

@media screen and (max-width: 1280px) {
  .place__title {
    width: 40vw;
  }
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 40vw;
    font-size: 42px;
    font-weight: calc(46px/42px);
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 5vw;
  }
}
