.intro__subtitle {
  max-width: 690px;
  margin: 0 0 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .intro__subtitle {
    max-width: 100%;
    line-height: 1.25;
  }
}
