.intro__list {
  margin: 0 0 92px;
  padding-left: 0;
  list-style: none;
  width: 690px;
  font-style: normal;
  font-weight: normal;
  list-style: none;
  font-size: 12px;
  line-height: 1.5;
  color: #FFF;
  text-align: left;
}

@media screen and (max-width: 1023px) {
  .intro__list {
    width: 720px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro__list {
    width: 288px;
    margin-bottom: 64px;
  }
}
