@import url('./__caption/lead__caption.css');
@import url('./__img/lead__img.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__title/lead__title.css');

.lead {
  width: 984px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) {
  .lead {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 768px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    width: 320px;
    margin-bottom: 64px;
  }
}
