@import url('./__lang-link/header__lang-link.css');

.header {
  width: 984px;
  margin: 0 auto 58px;
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1279px) {
  .header {
    width: 928px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 288px;
    padding-top: 20px;
  }
}
