@import url('./__lang-link/header__lang-link.css');

.header {
  width: 70vw;
  margin: 0 auto 58px;
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    margin-bottom: 50px;
  }
}
