.lead__title {
  width: 720px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(100px/96px);
  color: #FFF;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: calc(44px/40px);
  }
}
