.intro__text {
  width: 690px;
  margin: 0 0 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    width: 720px;
  }
}


@media screen and (max-width: 767px) {
  .intro__text {
    width: 288px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.intro__text:last-of-type {
  font-size: 16px;
  line-height: 1.62;
}
