@import url('./__image/place__image.css');
@import url('./__link/place__link.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__title/place__title.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__website/place__website.css');


.place {
  width: 70vw;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

@media screen and (max-width: 1280px) {
  .place {
    width: 90vw;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    width: 90vw;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    width: 100%;
  }
}
