.place__website {
  margin-top: 30px;
  margin-bottom: 48px;
}


@media screen and (max-width: 1024px) {
  .place__website {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    opacity: 0;
    position: absolute;
  }
}
